<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="good">
          <p class="is-size-1 has-text-weight-bold has-text-centered god">駄目ンターを撲滅しよう！</p>
          <br>
          <%= form_with(url: search_mentors_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "名前を検索する", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
          <% end %>
          <div class="columns is-centered">
            <div class="column is-10">
              <br>
              <p class="is-size-4 has-text-black has-text-centered outline">星４つ以上の神メンター</p>
              <% @mentor.each do |mentor|%>
              <% if mentor.avg_score >= 4 %>
                <p class="is-size-4 has-text-centered outline"><%= mentor.name %></P>
              <% end %>
              <%end%>
              <br>
              <p class="is-size-4 has-text-black has-text-centered outline">星２つ以下の糞メンター</p>
              <% @mentor.each do |mentor|%>
              <% if (mentor.avg_score <= 2) && (0 < mentor.avg_score) %>
                <p class="is-size-4 has-text-centered outline1"><%= mentor.name %></P>
              <% end %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>